{% extends "snippets/base.html"%}
{% load static %}

{% block isi %}
<div class="jumbotron" style="height: 25em;width: 85em; margin-top: 8em;" >
    <p class="h2 topickiri">EDUCATION</p>
    <br>
    <p class="lead">I am currently taking Computer Science Bachelor program in Universitas Indonesia.</p>
    <p class="lead">Current GPA : 3.__</p>
    <p class="lead">Currently taking Foundation of Programming 2 using Java, Introduction to Digital Systems, Discrete Mathematics 2, Calculus 1, and Website Design and Programming.</p>
    <p class="lead">Interested in Machine Learning, Artificial Intelligence and Data Science.</p>
    <img id="fotoUI"src = "{% static "img/UI.png" %}" width="130em" height="130em">
</div>
<div class="jumbotron" style="height: 25em;width: 85em; margin-top: 8em;" >
    <p class="h2 topickiri">ACHIEVEMENT</p>
    <br>
    <br>
    <p>Update soon lol. </p>
    </div>
<br>
<br>
{% endblock isi %}
