{% extends "snippets/base.html"%}
{% load static %}

{% block isi %}
    <div class="jumbotron text-center">
            <h1 class="display-4" style="color:lightseagreen; font-weight: bold;">Hi! I'm Ahmad Irfan</h1>
            <hr class="my-4">
            <p class="lead" style="color:lightseagreen; text-align: center; font-family: PT Mono;">Analyzing and visualizing data to make better and informed business decisions</p>
            <a class="btn btn-primary btn-lg" href="about.html" role="button" style="background-color:#8AEAF7; color:lightseagreen; border: 0px; font-weight: bold;">About me</a>
    </div>
{% endblock isi %}