{% extends "snippets/base.html"%}
{% load static %}

{% block isi %}
    <div class="jumbotron text-center">
        <form method='POST'>
                {% csrf_token %}
                <table>
                    {{ proyek_form.as_table}}
                </table>
            <button type="Submit" class="btn btn-primary">Add Project</button>
        </form>
    </div>
{% endblock isi %}