{% extends "snippets/base.html"%}
{% load static %}

{% block isi %}
    <div class="jumbotron text-center">
    	{% for instance in proyek %}
    		<h2>Nama Proyek : {{instance.judul_proyek}}</h2>
    		<h2>Tanggal Mulai : {{instance.tanggal_mulai}}</h2>
    		<h2>Tanggal Selesai : {{instance.tanggal_selesai}}</h2>
    		<h2>Deskripsi Proyek : {{instance.deskripsi_proyek}}</h2>
    		<h2>Tempat Proyek : {{instance.tempat_proyek}}</h2>
    		<h2>Kategori Proyek : {{instance.kategori_proyek}}</h2>
    		<br>
    		<br>
    	{% endfor %}
        <a href="/proyek/create" style="background-color:#4BCDC6; font-size: 300%">Add a New Project</a>
    </div>
{% endblock isi %}