body{
    background-color: #D4FAFF;
    background-image: url("../img/background.png");
    font-family: Raleway;
}

.nav-link {
    color:white;
    margin: 0px 10px;
    font-weight: bold;
}

.navbar {
    background-color: #1FC1B8;
}

.button {
    height: 40px;
    width: 100px;
    background-color: #4BCDC6;
    border-radius: 15%;
    padding-top: -2px;
    text-align: center;
  }

a:hover{
    font-weight: bold;
}

.jumbotron {
    margin: 13% 5% 0 5%;
    background-color: #B5E6ED;
}

.display-4 {
    text-align: center;
    font-size: 500%;   
}

.lead{
    text-align: left;
    color: #1D7C88;
}

.topickiri{
    position:relative;
    font-weight: 900;
    font-size: 300%;
    color: white;
    margin-top: -3%;
    -webkit-text-stroke: 1px #1D7C88;
    font-family: 'Courier New', Courier, monospace
}

.topickanan{
    position:relative;
    top:-22%;
    font-weight: 900;
    font-size: 300%;
    color: white;
    padding: 1% 2%;
    -webkit-text-stroke: 1px #1D7C88;
    font-family: 'Courier New', Courier, monospace;
}

#fotoUI{
    position: relative;
    bottom:30%;
    left:90%;
    background-color: #D4FAFF;
    padding: 10px;
}

.contactfont{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 400%;
}

.navbar{
    position: fixed;
}

@media (max-width:620px) {
    /* For mobile phones: */
    .display-4 {
        font-size: 250% !important; 
    }
    .lead{
        font-size: 100% !important;
        font-weight: bold;
    }
    .jumbotron{
        width: 80% !important;
        height: 100% !important;
        margin: 25% auto;
    }
    .topickiri, .topickanan{
        font-size: 200%;
    }
    #fotoUI{
        left: 20%;
    }
    .contactfont{
        font-size: 200% !important;
        font-weight: bold;
    }
    .fotokontak{
        height: 10%;
        width: 10%;
    }
}