<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link button" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link button" href="/contact">Contact</a>
            </li>
            <li>
                <a class="nav-link button" href="/proyek">Proyek</a>
            </li>
        </ul>
    </div>
</nav>