{% extends "snippets/base.html"%}
{% load static %}

{% block isi %}
    <div class="jumbotron text-center">
        <span class="contactfont" style="color:#4BCDC6">Let's get </span>
        <span class="contactfont" style="color: #1D7C88; font-size: 600%">Connected!</span>
        <br>
        <br>
        <div>
            <img class="fotokontak" src="{% static "img/linkedin.png" %}" height="5%" width="5%">
            <img class="fotokontak" src="{% static "img/instagram.png" %}" height="5%" width="5%">
            <img class="fotokontak" src="{% static "img/twitter.png" %}" height="5%" width="5%">
            <img class="fotokontak" src="{% static "img/google-plus.png" %}" height="5%" width="5%">
            <img class="fotokontak" src="{% static "img/facebook.png" %}" height="5%" width="5%">
        </div>
    </div>
{% endblock isi %}
